*{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo{
    margin-right:20px;
}

.nav{
    width:1000px;
}

ul{
    display: flex;
    list-style-type: none;
    background-color: #31673f;
    border-radius: 20px;
    flex-direction: row;
    justify-content:flex-end;
    padding: 12px;
    flex-shrink: 1;
    flex-wrap: wrap;
    font-size: 20px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}

ul li a{
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    border-radius: 20px;
}

ul li :hover {
  background-color: #304740;
}


