*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

header{
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top:0;
}

.logo{
    margin-right:20px;
}


.nav-list{
    display: flex;
    list-style-type: none;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 20px;
}

.nav-list li a{
    display: flex;
    color:#304740;
    padding-left: 50px;
    padding-right: 50px;
    padding-top:20px;
    padding-bottom: 20px;
    text-decoration: none;
    border-radius: 5px;
}

.nav-list li :hover {
  background-color:#31673f40;
}

.banner{
    text-align: center;
    display: flex;
    justify-content: center;
    background-size: 100%;
    padding-bottom: 100px;
    padding-top: 100px;
    width: 100%;
    background-repeat: no-repeat;
    flex-wrap: wrap;
}

.banner-home{
    background-image: url("/images/home-banner.jpg");
}

.banner-about{
    background-image: url("/images/about-us-banner.jpg");
}

.banner-contact{
    background-image: url("/images/contact-banner.jpg");
}



h1{
    background-color: #00000069;
    color: white;
    line-height: 1.2;
    padding: 40px 20px;
    margin: 0;
    width: 100%;
    min-width: 0;
    text-align: center;
    white-space: normal;
    overflow-wrap: break-word;
    font-size: 300%;
}

h2::before, h2::after{
    content:"↟↟";
    font-size: 35px;
    padding: 10px;
}

.subheading{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    text-align: center;
}

h2{
    font-size: 35px;
    color: #304740;
    text-align: center;
}

hr{
    border-style:solid;
    border-color:#31673f;
}

.priority-button-container{
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.priority-button{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    align-items: center;
    color: #304740;
    font-weight: bold;
    border-width: 2px;
    padding: 50px 50px 50px 50px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    margin: 40px;
}

.current{
    border: solid;
    border-width: 8px;
}


.priority-button:hover{
    opacity: 0.5;
}

.current:hover{
    opacity:1;
}

.priority-button span{
    font-size: 20px;
    margin-bottom: 15px;
}

.about-section{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 70px;
    background-color:#30474040;
    width: 100%;
    padding: 50px;
}


.about{
    display: flex;
    flex-direction: column;
    max-width: 600px;
    flex: 1 1 400px;
}

.image{
    flex: 0 1 400px;
    max-width: 100%;
}

p{
    display: flex;
    font-size: 20px;
}

.about-us-images{
    display: flex;
    justify-content: space-evenly;

}

.tools{
    font-weight: bold;
    font-size: 30px;
}

.about-us-container{
    background-color: #31673f40;
    padding:20px;
    margin:20px;
    font-size: 20px;
}

.about-us-image-container{
    display: flex;
    flex-direction: column;
}

.about-us-images{
    display: flex;
    flex-wrap: wrap;
}

form{
    display: flex;
    flex-direction: column;
    width:70%;
}

.contact-form{
    display: flex;
    justify-content: center;
    width:60%;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    margin-top:50px;
    margin-bottom:50px;
    padding:50px;
    resize: vertical;
}

label{
    font-weight: 600;
    color: #304740;
}

input[type=text]:focus {
  background-color:#31673f40;
}


input, textarea{
    width:100%;
    margin-top: 10px;
    margin-bottom:10px;
    padding:10px;
    border:1px solid #31673f;
    max-width: 100%;
}


.form-container{
    display: flex;
    justify-content: center;
}

input[type=submit] {
    padding:20px;
    background-color:#31673f40 ;
    border: none;
    border-radius: 5px;
    font-size: 17px; 
    font-weight: 600;
    color: #304740;
}

input[type=submit]:hover{
    background-color: #304740;
    color:white;
}

.page-container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}


.page-text{
    background-color:#31673f40;
    padding: 60px;
    flex: 1 1 500px;
    max-width: 800px;
    margin-left: 50px;
}

.page-image{
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 20px;
    max-width:100%;
}

.page-image-cap{
    font-size: 20px;
    padding: 10px;
    margin-left: 60px;
    margin-right: 60px;
}

.page-images{
    max-width: 600px;
}
